@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #172033;
    background: #ffffff;
    background: var(--black);
    color: var(--white);
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;
    text-decoration: none;
}

p,
h1,
h2,
h3 {
    margin-top: 0;
}

:root {
    --gold: #C8A96B;
    --gold-light: #E8D39A;
    --gold-dark: #8F6F38;

    --black: #0D0D0D;
    --black-soft: #171717;

    --white: #F7F5EF;
    --gray: #A6A39A;
}

.wrapper {
    width: min(1120px, calc(100% - 48px));
    margin-inline: auto;
}

.eyebrow {
    margin-bottom: 16px;

    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.16em;

    color: var(--gold);
}

.putangina {
    margin-bottom: 16px;

    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.16em;

    color: var(--gold);
}

/* ===== Header ===== */

.site-header {
    position: absolute;
    inset: 0 0 auto;

    z-index: 10;

    color: #ffffff;
}

.brand {
    font-style: italic;
    font-size: 23px;
    font-weight: 800;
    letter-spacing: 0.08em;
    color: var(--gold);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    min-height: 80px;
}

.nav-links {
    display: flex;
    gap: 32px;

    font-size: 14px;
    font-weight: 500;
}

.nav-links a {
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.nav-links a:hover {
    opacity: 1;
}

/* ===== hero ===== */

.hero,
.quote {
    min-height: 680px;
    
    display: flex;
    align-items: center;

    background: 
        radial-gradient(
            circle at 70% 55%,
            #000000 0%,
            #00040c 55%,
            #070b18 75%
        );

        color: #ffffff;
}

.hero-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    gap: 80px;

    padding-top: 80px;
}

.hero-copy {
    max-width: 560px;
}

.hero-copy .eyebrow {
    color: #9ba8ff;
}


.hero h1 {
    margin-bottom: 24px;

    font-size: clamp(44px, 6vw, 7px);
    line-height: 0.98;
    letter-spacing: -0.05em;
}

.hero h1 span {
    display: block;
    background: linear-gradient(
        120deg,
        var(--gold-dark),
        var(--gold-light),
        var(--gold),
        var(--gold-dark),
        var(--gold-light)
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    padding-bottom: 5px;
}

.hero-description {
    max-width: 500px;

    margin-bottom: 32px;

    color: #b9c0cf;

    font-size: 17px;
    line-height: 1.7;
}

.hero-actions {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
img {
    width: 300px;
    height: auto;
}

/* ===== buttons ======*/

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: 48px;

    padding: 0 22px;

    border-radius: 8px;

    font-size: 14px;
    font-weight: 600;

    transition:
        transform 0.2s ease,
        background 0.2s ease;
}

.button:hover {
    transform: translateY(-2px);
}

.button-primary {
    background: linear-gradient(
        120deg,
        var(--gold-dark),
        var(--gold),
        var(--gold-light),
        var(--gold)
    );

    color: #111;
}

.button-primary:hover {
    background: #7785ed;
}

.button-secondary {
    border: 1px solid #536079;
    color: #ffffff;
}

/* ===== features =====*/

.feature-grid {
    display: flex;
    gap: 25px;
}

.features {
    padding-block: 120px;
}

.feature {
    flex: 1;
    border: 3px solid var(--gold);
    border-radius: 8px;
    margin: 18px;
    padding: 35px;
    
}

.feature-number {
    border-bottom: 2px solid var(--gold);
}

.section-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feature h3 {
    margin-bottom: 12px;
    font-size: 21px;
}

.feature p {
    margin-bottom: 0px;

    line-height: 1.7;
}


/* ===== quote ===== */

.quote h2 {
    font-style: italic;
    font-weight: 300;
    font-size: 40px;
}

.quote p {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 20px;
}

/* ===== call to action ===== */

.call-to-action {
    padding-block: 120px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 40px;

    padding: 64px 72px;

    border-radius: 20px;
    border: 2px solid var(--gold-light);
}

/* ====== footer ====== */

.site-footer {
    padding: 12px;
    background: 
    radial-gradient(
            circle at 70% 55%,
            #000000 0%,
            #00040c 55%,
            #070b18 75%
        );
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.footer-content p {
    font-size: 13px;
    font-style: italic;

}

.footer-content span {
    font-weight: 800;
    letter-spacing: 0.08em;
}